body, html {
    height: 100%;
}

.pass{
    padding-left:3px
}
body {
    
    margin: 0;
    background-image: url(Images/background.jpg);
    background-attachment:fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.btn1 {
    background-color: #e6dbb8;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #1a0d00;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor: pointer;
}
.main {
    color: #0d0d0d;
    text-align: center;
    overflow: hidden;
    border: 60px solid transparent;
    -webkit-border-image: url(Images/border.png) 50% round; 
    -o-border-image: url(Images/border.png) 50% round; 
    border-image: url(Images/border.png) 17% round;
    padding: 2px;
    width: 480px;    
    /*margin-top: 5%;
    margin-left: 24%;*/
    margin:auto;
}

/*.col-md-10{
    width:470px;
}*/

.mybutton {
    margin-left:1px;
}

.mostmain{
    margin-top:70px;
}

#playersubmit{
    margin-left:30%;
}


    .navbar-inverse {
    background-image:url(Images/upperbar.jpg);
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mostmain2{
    margin-top:200px;

   
   
}

.profile {
    /*border: 60px solid transparent;
    -webkit-border-image: url(Images/profileborder.png) 50% round;
    -o-border-image: url(Images/profileborder.png) 50% round;
    border-image: url(Images/profileborder.png) 17% round;
    padding:0;
    border-width:30px;
    margin:0;*/
    color: #0d0d0d;
    text-align: center;
    overflow: hidden;
    border: 60px solid transparent;
    -webkit-border-image: url(Images/profileborder.png) 50% round;
    -o-border-image: url(Images/profileborder.png) 50% round;
    border-image: url(Images/profileborder.png) 17% round;
    padding: 2px;
    width: 480px;
    /*margin-top: 5%;
    margin-left: 24%;*/
    margin: auto;
}

.myform {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
