
@{
    ViewBag.Title = "Rest";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="myRestOption">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Your HP is now full</p>
    </div>
</div>

<script src="~/Scripts/Menu.js"></script>
