@{
    ViewBag.Title = "About Thapratopia Online";
}
<h2>@ViewBag.Title.</h2>
<div class="mostmain2">
<div class="main context">
<h3>@ViewBag.Message</h3>

<p>Thapratopia Online has been running since 2010. With over 1000 players, it's known for its friendly and united community.</p>
</div>
</div>

