@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<div class="main">
<h3>@ViewBag.Message</h3>
<address>
    <strong>Support:</strong>   <a href="mailto:Thapratopia@game.com">Thapratopia@game.com</a><br />
   
</address>
</div>