@model MyGame.Infrastructure.Models.UsersModel
    @{
        ViewBag.Title = "View";
    }

    <h2>This is your profile.</h2>

    <div class="profile">

        @Html.LabelFor(model => model.UploadedImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @* asta trebe ca sa mearga upload de fisiere *@
            @Html.TextBoxFor(model => model.UploadedImage, new { type = "file" })
            @Html.ValidationMessageFor(model => model.UploadedImage, "", new { @class = "text-danger" })

        </div>

