@model MyGame.UI.Models.FightViewModel
@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="body-content partialCoords">
    <div class="row">
        <div class="col-md-12">
        </div>        
        @Html.Raw(Model.HtmlBody)
    </div>
</div>