@model MyGame.UI.Models.ActionsViewModel

<div>
    <h3>Available Actions:</h3>
    @foreach (var action in Model.ActionList)
    {
        <div class="row clearfix">
            <div class="col-xs-9">
                @action.Name
            </div>
            <div class="col-xs-3">
                @if (action.Name == "Shop")
                {
                   <a href="@action.Link">Go to shop</a>
                }
                else
                {
                    <a href="@action.Link">Attack</a>
                }
            </div>
        </div>
    }
</div>